:root {

--color-form-highlight: #a0a0a0;
}

#header {
    text-align: center;
    padding: 30px 0;
}


.rates {
    border-radius: 5px;
    text-align:center;
    font-size: px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.table-header {
	display:flex;
	width:100%;
	background:#000;
	padding: 1,5;
}

.table-row{
	width:100%;
	padding:1.5;
    flex: 1 1 20%;
}
.table-row:nth-of-type(odd) {
    background:var(--color-form-highlight);
}
